<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723643581380-57ghomb76acct4trb7kpmoqdfihfeb4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723643581380-57ghomb76acct4trb7kpmoqdfihfeb4p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>723643581380-18g0cdmmm8ka5qu7kq1n1cji0rlooupo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVo2fnYEIKUeS8D4cj7D66FvKN3TdiaQo</string>
	<key>GCM_SENDER_ID</key>
	<string>723643581380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.femil.coderkube.myapp</string>
	<key>PROJECT_ID</key>
	<string>expo-app-81f4d</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-app-81f4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723643581380:ios:732315615904b3ad48da91</string>
</dict>
</plist>